.wrapper{
    outline: solid black 1px;
    width: 600px;
    margin: 0px auto;
}

div{
    margin-top: 5px;
    margin-bottom: 5px;
}

.writing{
    margin: 80px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
label{
    padding-bottom: 5px;
}

input{
    float: right;
    margin-right: 100px;
    width: 163px;
}

select{
    float: right;
    margin-right: 100px;
}

button{
    margin: 5px;
    margin-left: 330px;
    width: 100px;
}
